<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Function_java/src/com/circle_with_ret_no_args/java/Circle_With_Ret_No_Args.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.circle_with_ret_no_args.java.Circle_With_Ret_No_Args"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Function_java"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Function_java"/>
</launchConfiguration>
